@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button {
  border: none;
  font-size: inherit;
}

ul, li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-Weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.main-page {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 30px;
  padding-bottom: 48px;
}

.solid {
  border-top: 2px solid #D9D9D9;
  padding-bottom: 45px;
}

.cover {
  margin-bottom: 30px;
  width: 100%;
}

button {
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 586px) {
  .overlay {
    top: 150px;
    width: 100%;
  }
}
@media only screen and (min-width: 586px) and (max-width: 767px) {
  .overlay {
    top: 150px;
    width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    top: 80px;
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .overlay {
    top: 80px;
    width: 30%;
  }
}
.overlay {
  display: none;
  position: absolute;
  left: 0;
  height: 300%;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu-toggle {
  display: none;
}

.menu_button {
  cursor: pointer;
}

.menu-toggle:checked + .overlay,
.menu-toggle:checked + .menu_button + .overlay,
.overlay:hover {
  display: block;
}

.menu-toggle:checked + .menu_button + .overlay + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 30%;
  left: 5%;
}
.dropdown-menu .option_list {
  color: white;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}
.dropdown-menu .option_list .menu_option {
  margin-bottom: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 320px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card_conteiner {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .main-card {
    width: 245px;
    height: 400px;
    padding: 15px 20px 25px 20px;
    background-color: #F5E7DF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-card .card_img {
    max-width: 167px;
    max-height: 149px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 9px;
  }
  .main-card .card_carousel {
    font-size: 3px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 15px;
  }
  .main-card .card_header {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: center;
  }
  .main-card .card_text_top {
    display: -ms-grid;
    display: grid;
    gap: 9px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .main-card .card_text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
  }
  .main-card .price {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
  }
  .main-card .cu {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
  }
  .main-card .buttons {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-card .buttons .add-to-cart {
    background-color: #fff;
    color: #000;
    width: 95px;
    height: 40px;
    text-align: center;
    border: solid 3px #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    cursor: pointer;
  }
  .main-card .buttons .description {
    background-color: transparent;
    color: #000;
    width: 95px;
    height: 40px;
    text-align: center;
    border: solid 3px #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 520px) {
  .card_conteiner {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    grid-gap: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .card_conteiner {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 755px;
  }
  .main-card {
    height: 500px;
  }
}
@media only screen and (min-width: 1024px) {
  .card_conteiner {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .card_conteiner {
    grid-gap: 30px;
  }
  .main-card {
    width: 360px;
    height: 550px;
    padding: 20px 40px 30px 40px;
  }
  .main-card .card_img {
    max-width: 224px;
    max-height: 190px;
    margin-bottom: 15px;
  }
  .main-card .card_carousel {
    font-size: 3px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 22px;
  }
  .main-card .card_header {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
  }
  .main-card .card_text_top {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .main-card .card_text {
    font-size: 15px;
    letter-spacing: 1.5px;
  }
  .main-card .price {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .main-card .cu {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .main-card .buttons {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-card .buttons .add-to-cart {
    background-color: #fff;
    color: #000;
    width: 127px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .main-card .buttons .description {
    background-color: transparent;
    color: #000;
    width: 127px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 1200px) {
  .card_conteiner {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1170px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 612px) {
  .basket-card {
    padding: 25px;
  }
  .purchase_content {
    margin: auto;
    padding: 20px;
  }
  .product-image {
    display: none;
  }
  .big_bttn {
    font-size: 20px;
  }
}
@media only screen and (min-width: 613px) and (max-width: 919px) {
  .basket-card {
    padding: 23px 35px 23px 35px;
  }
  .purchase_content {
    margin: auto;
    padding: 40px;
  }
  .price-parameter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .total-price-parameter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-image {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 183px;
    height: 178px;
  }
  .card-info {
    padding-left: 40px;
  }
  .big_bttn {
    font-size: 25px;
  }
}
@media only screen and (min-width: 920px) {
  .basket-card {
    padding: 23px 35px 23px 35px;
  }
  .purchase_content {
    margin: auto;
    padding: 40px;
  }
  .price-parameter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .total-price-parameter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-image {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 183px;
    height: 178px;
  }
  .card-info {
    padding-left: 81px;
  }
  .big_bttn {
    font-size: 25px;
  }
}
.cart-page {
  margin: auto;
}
.cart-page .banner_section {
  margin: auto;
  width: 80%;
  max-width: 1200px;
  padding-left: 20px;
  padding-bottom: 35px;
}
.cart-page .basket-card-grid {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(auto-fit);
  gap: 30px;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
.cart-page .strip {
  background-color: lightgray;
  width: 100%;
}
.cart-page .purchase_section {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  max-width: 1200px;
}

.first_banner {
  margin-bottom: 50px;
}

.banner {
  letter-spacing: 3px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.name {
  margin-bottom: 25px;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 400;
}

.price {
  font-size: 20px;
  font-weight: 400;
  margin-top: 7px;
  letter-spacing: 2px;
}

span.cu {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.arrow {
  padding: 10px;
}

.basket-card {
  width: 100%;
  height: auto;
  background-color: #F5E7DF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.basket-card .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.basket-card .parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0;
}
.basket-card .parameter .param {
  font-size: 18px;
  font-weight: 400;
  color: grey;
  letter-spacing: 1.5px;
}
.basket-card .parameter .characteristic {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  font-size: 18px;
}
.basket-card .redaction_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.basket-card .redact_product {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: transparent;
  height: 15px;
  width: 15px;
}
.basket-card .delete_product {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: transparent;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: grey;
  letter-spacing: 1.5px;
}

.price-parameter {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}

.total-price-parameter {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.part-price {
  font-size: 18px;
  letter-spacing: 1.8px;
}
.part-price .cu {
  font-size: 13px;
  letter-spacing: 1.3px;
}

.total-price {
  font-size: 30px;
  letter-spacing: 3px;
}
.total-price .cu {
  font-size: 20px;
  letter-spacing: 2px;
}

.big_bttn_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big_bttn {
  text-transform: uppercase;
  background-color: black;
  color: white;
  letter-spacing: 2.5px;
  width: 50%;
  padding: 12px;
  min-width: 170px;
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .pers_info_section {
    margin: auto;
    width: 80%;
    margin-bottom: 60px;
  }
  .info_form {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (min-width: 600px) {
  .pers_info_section {
    margin: auto;
    width: 560px;
    margin-bottom: 60px;
  }
  .info_form {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .info_form .first_col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .info_form .second_col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media only screen and (min-width: 920px) {
  .pers_info_section {
    margin: auto;
    width: 800px;
    margin-bottom: 60px;
  }
}
.pers_info_section {
  margin-top: 25px;
}

.input_data {
  padding: 10px;
  background-color: #F5E7DF;
  width: 100%;
  font-size: 13px;
  letter-spacing: 1.3px;
  font-family: "Oswald", sans-serif;
}

.input_data::-webkit-input-placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: grey;
}

.input_data::-moz-placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: grey;
}

.input_data:-ms-input-placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: grey;
}

.input_data::-ms-input-placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: grey;
}

.input_data::placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: grey;
}

.gender-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gender-container .gender-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #F5E7DF;
  margin-right: 20px;
  padding: 14px;
}
.gender-container .gender-input {
  display: none;
}
.gender-container .gender-input:hover + .gender-label {
  background-color: #F7DCCB;
  color: black;
}
.gender-container .gender-input:checked + .gender-label {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 320px) {
  .header {
    height: 150px;
    background: #F2F2F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header_cont {
    display: block;
    width: 80%;
  }
  .header .top_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
  }
  .header .menu_button_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu_button {
    width: 34px;
    height: 25px;
  }
  .header .menu_bottom_img {
    margin-top: auto;
    margin-bottom: auto;
    width: 34px;
    height: 25px;
    text-align: center;
  }
  .header .header_logo {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.5px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .header .search_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .search_leptop {
    display: none;
  }
  .header .search {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: 100%;
  }
  .header .input_search, .header .search_button {
    border-radius: 40px;
    background: #F7DCCB;
  }
  .header .input_search {
    width: 100%;
    height: 42px;
    padding-left: 15px;
  }
  .header .search_button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header .search_button:before {
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
  }
  .header .link_cont {
    padding-top: 27px;
  }
  .header .link_cont .header_link_img {
    width: 26px;
    height: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header .search_bottom {
    display: none;
  }
  .header .search_leptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35%;
  }
  .header .link_cont {
    padding-top: 27px;
  }
}
@media only screen and (min-width: 320px) {
  .index_footer {
    background: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index_footer .info_cont {
    display: block;
    width: 310px;
  }
  .index_footer .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 35px;
  }
  .index_footer .conteiner .logo_cont .logo_header {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
  }
  .index_footer .conteiner .logo_cont .logo_img_cont {
    padding-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index_footer .conteiner .logo_cont .logo_img_cont .logo_img {
    width: 123px;
    height: 106px;
    margin-left: auto;
    margin-right: auto;
  }
  .index_footer .conteiner .social_cont .social_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 15px;
  }
  .index_footer .conteiner .social_cont .social_icons .social_icon {
    width: 35px;
    height: 35px;
  }
  .index_footer .conteiner .pay_cont .pay_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 15px;
  }
  .index_footer .conteiner .pay_cont .pay_icons .icon_viza {
    width: 50px;
  }
  .index_footer .conteiner .pay_cont .pay_icons .icon_world {
    padding: 10px;
    width: 100px;
  }
  .index_footer .conteiner .pay_cont .pay_icons .icon_master {
    width: 50px;
  }
  .index_footer .conteiner .footer_header {
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
  }
  .index_footer .copy_cont {
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .index_footer .copy_cont .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 600px) {
  .index_footer .info_cont {
    width: 530px;
  }
  .index_footer .info_cont .pay_cont {
    padding-top: 0;
  }
  .index_footer .info_cont .social_cont {
    padding-top: 0;
  }
  .index_footer .info_cont .copy_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 130px;
  }
}
@media only screen and (min-width: 920px) {
  .index_footer .info_cont {
    width: 80%;
  }
  .index_footer .info_cont .pay_cont {
    padding-top: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .product_cont {
    width: 80%;
  }
  .product_cart {
    display: block;
    margin: 0 auto;
  }
  .product_card {
    padding: 20px;
  }
  .descr_section {
    width: 100%;
  }
  .descr_section .descr_cont .description_title {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 3px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .descr_section .add_cont .product_price {
    font-size: 20px;
    letter-spacing: 2.8px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 13px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont .button_add {
    width: 70%;
    font-size: 18px;
    letter-spacing: 2.2px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .product_cont {
    width: 80%;
  }
  .product_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
  }
  .clothes {
    width: 50%;
  }
  .descr_section {
    width: 50%;
    margin-left: 20px;
  }
  .descr_section .descr_cont .description_title {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont .product_price {
    font-size: 20px;
    letter-spacing: 2.8px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 16px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont .button_add {
    width: 60%;
    font-size: 20px;
    letter-spacing: 2.2px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 815px) {
  .product_cont {
    width: 80%;
  }
  .product_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
  }
  .descr_section {
    width: 50%;
    margin-left: 20px;
  }
  .descr_section .descr_cont .description_title {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont .product_price {
    font-size: 20px;
    letter-spacing: 2.8px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 16px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont .button_add {
    width: 60%;
    font-size: 20px;
    letter-spacing: 2.2px;
  }
}
@media only screen and (min-width: 816px) and (max-width: 1024px) {
  .product_cont {
    width: 80%;
  }
  .product_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
  }
  .descr_section {
    width: 50%;
    margin-left: 20px;
  }
  .descr_section .descr_cont .description_title {
    font-size: 24px;
    letter-spacing: 3.2px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .product_price {
    font-size: 24px;
    letter-spacing: 3px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 18px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .button_add {
    width: 55%;
    font-size: 24px;
    letter-spacing: 2.4px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .product_cont {
    width: 70%;
  }
  .product_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
  }
  .descr_section {
    width: 50%;
    margin-left: 40px;
  }
  .descr_section .descr_cont .description_title {
    font-size: 26px;
    letter-spacing: 3.2px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .product_price {
    font-size: 26px;
    letter-spacing: 3px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 18px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .button_add {
    width: 55%;
    font-size: 26px;
    letter-spacing: 2.4px;
  }
}
@media only screen and (min-width: 1200px) {
  .product_cont {
    width: 70%;
  }
  .product_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
  }
  .descr_section {
    width: 50%;
  }
  .descr_section .descr_cont .description_title {
    font-size: 26px;
    letter-spacing: 3.2px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .product_price {
    font-size: 29px;
    letter-spacing: 3px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .button_add {
    width: 50%;
    font-size: 20px;
    letter-spacing: 2.4px;
  }
}
.product_cont {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.path {
  margin-bottom: 30px;
  color: #7E7E7E;
  font-size: 20px;
  letter-spacing: 2px;
}
.path .path_link {
  text-decoration: underline;
}

.product_card {
  background-color: #F5E7DF;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.clothes .clothes_header {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2.4px;
  font-weight: 400;
  line-height: 35px;
}
.clothes .clothes_size .button_size {
  padding: 5px 13px;
  background-color: rgba(251, 206, 177, 0.5);
}

.descr_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.descr_section .descr_cont .description_title {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 35px;
}
.descr_section .descr_cont .description_text {
  text-transform: uppercase;
  color: gray;
  font-weight: 400;
  line-height: 35px;
}
.descr_section .descr_cont .features {
  padding-left: 20px;
}
.descr_section .descr_cont .features .features_text {
  text-transform: uppercase;
  color: gray;
  font-weight: 400;
  margin-bottom: 10px;
}
.descr_section .add_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 28%;
}
.descr_section .add_cont .product_price {
  font-weight: 400;
  line-height: 35px;
}
.descr_section .add_cont .product_price .product_cu {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}
.descr_section .add_cont .button_add {
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
}

.reg_banner_section {
  margin-bottom: 50px;
}

.link_back {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close_img {
  width: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 750px) {
  .container {
    width: 80%;
  }
  .half {
    width: 100%;
  }
  .half.bg {
    display: none;
  }
}
@media only screen and (min-width: 751px) {
  .container {
    width: 700px;
    height: 500px;
  }
  .half {
    float: left;
    width: 50%;
  }
  .half.bg {
    display: block;
  }
}
.entrance {
  background-color: #f8f8f8;
}
.entrance .container {
  position: absolute;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.entrance .container .half {
  height: 100%;
  padding: 58px 40px 0;
}
.entrance .container .half.bg {
  background-size: 400px;
  padding: 0px;
}
.entrance .container h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 23px;
  text-align: center;
  text-indent: 6px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #263238;
}
.entrance .container .content {
  margin-top: 50px;
}
.entrance .container .content form {
  position: relative;
  height: 287px;
}
.entrance .container .content label {
  font-size: 12px;
  color: #263238;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.entrance .container .content label:first-of-type {
  -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.entrance .container .content label:nth-of-type(2) {
  -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.entrance .container .content label:nth-of-type(3) {
  -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.entrance .container .content label:not([for=remember]) {
  display: none;
}
.entrance .container .content input:first-of-type {
  -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.entrance .container .content input:nth-of-type(2) {
  -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.entrance .container .content input:nth-of-type(3) {
  -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.entrance .container .content input:focus {
  outline: none;
}
.entrance .container .content .more {
  margin-bottom: 25px;
}
.entrance .container .content .more:first-of-type {
  -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.entrance .container .content .more:nth-of-type(2) {
  -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.entrance .container .content .more:nth-of-type(3) {
  -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
}
.entrance .container .content input.inpt {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 42px;
  margin-bottom: 12px;
  padding: 16px 13px;
  color: #999999;
  border: 1px solid #d9d9d9;
  background-color: #F5E7DF;
  border-radius: 2px;
}
.entrance .container .content input.inpt::-webkit-input-placeholder {
  font-size: 14px;
  color: #999999;
}
.entrance .container .content input.inpt:-moz-placeholder {
  font-size: 14px;
  color: #999999;
}
.entrance .container .content input.inpt::-moz-placeholder {
  font-size: 14px;
  color: #999999;
}
.entrance .container .content input.inpt:-ms-input-placeholder {
  font-size: 14px;
  color: #999999;
}
.entrance .container .content input.inpt:focus {
  border-color: #999999;
}
.entrance .container .content input.submit {
  font-family: "Oswald", sans-serif;
  font-size: 18;
  line-height: 42px;
  display: block;
  width: 100%;
  height: 42px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #263238;
  background-color: black;
  border-radius: 2px;
}
.entrance .container .content input.submit:hover {
  background-color: gray;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.entrance .container .content .checkbox {
  margin-top: 4px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  margin: 17px -1px;
  padding: 0;
  border: 0;
  opacity: 0;
  visibility: hidden;
}
.entrance .container .content .checkbox + label {
  vertical-align: middle;
  display: inline-block;
}
.entrance .container .content .checkbox + label:before {
  content: "\a";
  color: #999999;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #d9d9d9;
  width: 11px;
  height: 11px;
  margin: -2px 8px 0 0;
}
.entrance .container .content .checkbox:checked + label:before {
  content: "✓";
}
.entrance .container .content .submit-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.entrance .container .content .submit-wrap a {
  font-size: 12px;
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #999999;
}
.entrance .container .content .submit-wrap a:hover {
  text-decoration: underline;
}
