* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button {
  border: none;
  font-size: inherit;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-Weight: default FontWeight(400);
  color: #000;
  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  height: auto;
}

.main-page {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 100px 100px;
}

hr.solid {
  border-top: 2px solid #D9D9D9;
}

.cover {
  margin-bottom: 30px;
}

button {
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

@media only screen and (min-width: 320px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
  }
  .card_conteiner {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .main-card {
    width: 245px;
    height: 380px;
    padding: 15px 20px 25px 20px;
    background-color: #F5E7DF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-card .card_img {
    max-width: 167px;
    max-height: 149px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 9px;
  }
  .main-card .card_carousel {
    font-size: 3px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 15px;
  }
  .main-card .card_header {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: center;
  }
  .main-card .card_text_top {
    display: -ms-grid;
    display: grid;
    gap: 9px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .main-card .card_text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
  }
  .main-card .price {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
  }
  .main-card .cu {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
  }
  .main-card .buttons {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-card .buttons .add-to-cart {
    background-color: #fff;
    color: #000;
    width: 95px;
    height: 40px;
    text-align: center;
    border: solid 3px #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    cursor: pointer;
  }
  .main-card .buttons .description {
    background-color: transparent;
    color: #000;
    width: 95px;
    height: 40px;
    text-align: center;
    border: solid 3px #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 520px) {
  .card_conteiner {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    grid-gap: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .card_conteiner {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 755px;
  }
}
@media only screen and (min-width: 1024px) {
  .card_conteiner {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .card_conteiner {
    grid-gap: 30px;
  }
  .main-card {
    width: 360px;
    height: 510px;
    padding: 20px 40px 30px 40px;
  }
  .main-card .card_img {
    max-width: 224px;
    max-height: 190px;
    margin-bottom: 15px;
  }
  .main-card .card_carousel {
    font-size: 3px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 22px;
  }
  .main-card .card_header {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
  }
  .main-card .card_text_top {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .main-card .card_text {
    font-size: 15px;
    letter-spacing: 1.5px;
  }
  .main-card .price {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .main-card .cu {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .main-card .buttons {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-card .buttons .add-to-cart {
    background-color: #fff;
    color: #000;
    width: 127px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .main-card .buttons .description {
    background-color: transparent;
    color: #000;
    width: 127px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 1200px) {
  .card_conteiner {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1170px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .cart-page {
    width: 300px;
  }
  .purchase_content {
    margin: auto;
    padding: 20px;
  }
  .product-image {
    display: none;
  }
  .banner_section {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 919px) {
  .cart-page {
    width: 560px;
  }
  .purchase_content {
    margin: auto;
    padding: 40px;
  }
  .price-parameter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .total-price-parameter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-image {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 183px;
    height: 178px;
  }
  .card-info {
    padding-left: 40px;
  }
  .banner_section {
    width: 80%;
  }
}
@media only screen and (min-width: 920px) {
  .cart-page {
    width: 880px;
  }
  .purchase_content {
    margin: auto;
    padding: 40px;
  }
  .price-parameter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .total-price-parameter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-image {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 183px;
    height: 178px;
  }
  .card-info {
    padding-left: 81px;
  }
  .banner_section {
    width: 80%;
  }
}
.cart-page {
  padding-top: 70px;
  padding-bottom: 70px;
  margin: auto;
}
.cart-page .banner_section {
  margin: auto;
  padding-bottom: 35px;
}
.cart-page .basket-card-grid {
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(auto-fit);
  gap: 30px;
}
.cart-page .purchase_section {
  margin-top: 90px;
  background-color: white;
  position: relative;
}
.cart-page .purchase_section::before, .cart-page .purchase_section::after {
  content: "";
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 310px;
}
.cart-page .purchase_section::before {
  left: -310px;
}
.cart-page .purchase_section::after {
  right: -310px;
}

.first_banner {
  margin-bottom: 50px;
}

.banner {
  letter-spacing: 3px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.param {
  font-size: 18px;
  font-weight: 400;
  color: grey;
  letter-spacing: 1.5px;
}

.name {
  margin-bottom: 25px;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 400;
}

.price {
  font-size: 20px;
  font-weight: 400;
  margin-top: 7px;
  letter-spacing: 2px;
}

span.cu {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.arrow {
  padding: 10px;
}

.basket-card {
  width: 100%;
  height: auto;
  background-color: #F5E7DF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 35px 23px 35px;
}
.basket-card .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.basket-card .parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.basket-card .characteristic {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.basket-card .redaction_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.basket-card .redact_product {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: transparent;
  height: 15px;
  width: 15px;
}
.basket-card .delete_product {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: transparent;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: grey;
  letter-spacing: 1.5px;
}

.price-parameter {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}

.total-price-parameter {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.part-price {
  font-size: 18px;
  letter-spacing: 1.8px;
}
.part-price .cu {
  font-size: 13px;
  letter-spacing: 1.3px;
}

.total-price {
  font-size: 30px;
  letter-spacing: 3px;
}
.total-price .cu {
  font-size: 20px;
  letter-spacing: 2px;
}

.big_bttn_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big_bttn {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 25px;
  letter-spacing: 2.5px;
  width: 50%;
  padding: 12px;
  min-width: 170px;
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .pers_info_section {
    margin: auto;
    width: 300px;
    margin-bottom: 60px;
  }
  .info_form {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (min-width: 600px) {
  .pers_info_section {
    margin: auto;
    width: 560px;
    margin-bottom: 60px;
  }
  .info_form {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .info_form .first_col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .info_form .second_col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media only screen and (min-width: 920px) {
  .pers_info_section {
    margin: auto;
    width: 800px;
    margin-bottom: 60px;
  }
}
.input_data {
  padding: 10px;
  background-color: #F5E7DF;
  width: 100%;
  font-size: 13px;
  letter-spacing: 1.3px;
  font-family: "Oswald", sans-serif;
}

.input_data::-webkit-input-placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: black;
}

.input_data::-moz-placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: black;
}

.input_data:-ms-input-placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: black;
}

.input_data::-ms-input-placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: black;
}

.input_data::placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: black;
}

.gender-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gender-container .gender-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #F5E7DF;
  margin-right: 20px;
  padding: 14px;
}
.gender-container .gender-label .gender-input {
  display: none;
}
.gender-container .gender-label .gender-input:checked + .gender-label {
  background-color: red;
  color: blue;
}
.gender-container .gender-label .gender-input:focus + .gender-label {
  background-color: red;
  color: black;
}

@media only screen and (min-width: 320px) {
  .header {
    height: 150px;
    background: #F2F2F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header_cont {
    display: block;
    width: 80%;
  }
  .header .top_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
  }
  .header .menu_button_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu_button {
    width: 34px;
    height: 25px;
  }
  .header .menu_bottom_img {
    margin-top: auto;
    margin-bottom: auto;
    width: 34px;
    height: 25px;
    text-align: center;
  }
  .header .header_logo {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.5px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .header .search_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .search_leptop {
    display: none;
  }
  .header .search {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: 100%;
  }
  .header .input_search, .header .search_button {
    border-radius: 40px;
    background: #F7DCCB;
  }
  .header .input_search {
    width: 100%;
    height: 42px;
    padding-left: 15px;
  }
  .header .search_button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header .search_button:before {
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
  }
  .header .link_cont {
    padding-top: 27px;
  }
  .header .link_cont .header_link_img {
    width: 26px;
    height: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header .search_bottom {
    display: none;
  }
  .header .search_leptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35%;
  }
  .header .menu_button {
    width: 63px;
    height: 40px;
  }
  .header .link_cont {
    padding-top: 20px;
  }
  .header .link_cont .header_link_img {
    width: 42px;
    height: 40px;
  }
}
@media only screen and (min-width: 320px) {
  .index_footer {
    background: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index_footer .info_cont {
    display: block;
    width: 320px;
  }
  .index_footer .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 35px;
  }
  .index_footer .conteiner .logo_cont .logo_header {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
  }
  .index_footer .conteiner .logo_cont .logo_img_cont {
    padding-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index_footer .conteiner .logo_cont .logo_img_cont .logo_img {
    width: 123px;
    height: 106px;
    margin-left: auto;
    margin-right: auto;
  }
  .index_footer .conteiner .social_cont {
    padding-top: 35px;
  }
  .index_footer .conteiner .social_cont .social_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 35px;
  }
  .index_footer .conteiner .social_cont .social_icons .social_icon {
    width: 35px;
    height: 35px;
  }
  .index_footer .conteiner .pay_cont {
    padding-top: 35px;
  }
  .index_footer .conteiner .pay_cont .pay_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 35px;
  }
  .index_footer .conteiner .pay_cont .pay_icons .icon_viza {
    width: 38px;
    height: 27px;
  }
  .index_footer .conteiner .pay_cont .pay_icons .icon_world {
    width: 84px;
    height: 27px;
  }
  .index_footer .conteiner .pay_cont .pay_icons .icon_master {
    width: 44px;
    height: 27px;
  }
  .index_footer .conteiner .footer_header {
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
  }
  .index_footer .copy_cont {
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .index_footer .copy_cont .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 600px) {
  .index_footer .info_cont {
    width: 530px;
  }
  .index_footer .info_cont .pay_cont {
    padding-top: 0;
  }
  .index_footer .info_cont .social_cont {
    padding-top: 0;
  }
  .index_footer .info_cont .copy_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 130px;
  }
}
@media only screen and (min-width: 920px) {
  .index_footer .info_cont {
    width: 80%;
  }
  .index_footer .info_cont .pay_cont {
    padding-top: 0;
  }
}
