.cart-page {
  padding-top: 70px;
  padding-bottom: 70px;
  margin: auto;
  width: 65%;
}
.cart-page .pers_info_section {
  margin: auto;
  width: 80%;
  margin-bottom: 60px;
}
.cart-page .banner_section {
  margin: auto;
  width: 80%;
  padding-bottom: 35px;
}
.cart-page .basket-card-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  gap: 30px;
}
.cart-page .purchase_section {
  margin-top: 90px;
  background-color: white;
}

.first_banner {
  margin-bottom: 50px;
}

.info_form {
  margin-bottom: 40px;
  display: flex;
  gap: 30px;
}
.info_form .first_col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info_form .second_col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_data {
  padding: 10px;
  background-color: #F5E7DF;
  width: 100%;
  font-size: 13px;
  letter-spacing: 1.3px;
}

.input_data::-moz-placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
}

.input_data::placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
}

.gender-container {
  display: flex;
}

.gender-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #F5E7DF;
  margin-right: 20px;
  padding: 14px;
}
.gender-label .gender-input {
  display: none;
}

.banner {
  letter-spacing: 3px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.param {
  font-size: 18px;
  font-weight: 400;
  color: grey;
  letter-spacing: 1.5px;
}

.name {
  margin-bottom: 25px;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 400;
}

.price {
  font-size: 20px;
  font-weight: 400;
  margin-top: 7px;
  letter-spacing: 2px;
}

span.cu {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.basket-card {
  width: 100%;
  height: auto;
  background-color: #F5E7DF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 23px 35px 23px 35px;
}
.basket-card .product-item {
  display: flex;
  flex-direction: row;
}
.basket-card img {
  max-width: 122px;
  max-height: 119px;
  align-self: center;
}
.basket-card .card-info {
  padding-left: 81px;
}
.basket-card .parameter {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-self: center;
}
.basket-card .characteristic {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.basket-card .redaction_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.basket-card .redact_product {
  align-self: flex-end;
  background-color: transparent;
  height: 15px;
  width: 15px;
}
.basket-card .delete_product {
  align-self: flex-end;
  background-color: transparent;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: grey;
  letter-spacing: 1.5px;
}

.purchase_content {
  margin: auto;
  width: 80%;
  padding: 40px;
}

.price-parameter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.total-price-parameter {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.part-price {
  font-size: 18px;
  letter-spacing: 1.8px;
}
.part-price .cu {
  font-size: 13px;
  letter-spacing: 1.3px;
}

.total-price {
  font-size: 30px;
  letter-spacing: 3px;
}
.total-price .cu {
  font-size: 20px;
  letter-spacing: 2px;
}

.big_bttn_section {
  display: flex;
  justify-content: center;
}

.big_bttn {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background-color: black;
  color: white;
  font-size: 25px;
  letter-spacing: 2.5px;
  width: 50%;
  padding: 12px;
}/*# sourceMappingURL=basket.css.map */