@media only screen and (min-width: 320px) {

    .main-page{
        display: flex;
        justify-content: center;
        margin-top: 70px;
    }

    .card_conteiner {
      display: grid;
      margin: 0 auto;
      grid-template-rows: auto;
      grid-gap: 10px;
    }

    .main-card {
        width: 245px;
        height: 400px;
        padding: 15px 20px 25px 20px;
        background-color: #F5E7DF;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card_img {
            max-width: 167px;
            max-height: 149px;
            align-self: center;
            margin-bottom: 9px;
        }

        .card_carousel {
            font-size: 3px;
            align-self: center;
            margin-bottom: 15px;
        }

        .card_header {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.6px;
            text-align: center;
        }
        .card_text_top {
            display: grid;
            gap: 9px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .card_text {
            color: rgba(0, 0, 0, 0.50);
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.1px;
        }
        .price {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.8px;
        }

        .cu {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.3px;
        }
        .buttons {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .add-to-cart {
                background-color: #fff;
                color: #000;
                width: 95px;
                height: 40px;
                text-align: center;
                border: solid 3px #FFF;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.2px;
                cursor: pointer;
            }

            .description {
                background-color: transparent;
                color: #000;
                width: 95px;
                height: 40px;
                text-align: center;
                border: solid 3px #FFF;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.2px;
                cursor: pointer;

                }
            }
    }
}

@media only screen and (min-width: 520px) {
    .card_conteiner {
        grid-template-columns: 1fr 1fr;
        width: 500px;
        grid-gap: 10px;
      }
}


@media only screen and (min-width: 768px) {

    .card_conteiner {
      grid-template-columns: 1fr 1fr 1fr;
      width: 755px;
    }
    .main-card {
        height: 500px;
    }
}

@media only screen and (min-width: 1024px) {

    .card_conteiner {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
      }

    .card_conteiner {
      grid-gap: 30px;
    }

    .main-card {
        width: 360px;
        height: 550px;
        padding: 20px 40px 30px 40px;

        .card_img {
            max-width: 224px;
            max-height: 190px;
            margin-bottom: 15px;
        }

        .card_carousel {
            font-size: 3px;
            align-self: center;
            margin-bottom: 22px;
        }

        .card_header {
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 2.5px;
        }
        .card_text_top {
            display: grid;
            gap: 15px;
            margin-top: 23px;
            margin-bottom: 23px;
        }

        .card_text {
            font-size: 15px;
            letter-spacing: 1.5px;
        }
        .price {
            font-size: 30px;
            letter-spacing: 3px;
        }

        .cu {
            font-size: 20px;
            letter-spacing: 2px;
        }
        .buttons {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            .add-to-cart {
                background-color: #fff;
                color: #000;
                width: 127px;
                height: 40px;
                font-size: 20px;
                letter-spacing: 2px;
            }

            .description {
                background-color: transparent;
                color: #000;
                width: 127px;
                height: 40px;
                font-size: 20px;
                letter-spacing: 2px;
                }
            }
    }
}

@media only screen and (min-width: 1200px) {
    .card_conteiner {
        grid-template-columns: 1fr 1fr 1fr;
        width: 1170px;
    }
}
