@media only screen and (min-width: 320px) and (max-width: 599px) {
  .product_cart {
    display: block;
    margin: 0 auto;
  }
  .product_card {
    padding: 20px;
  }
  .descr_section {
    width: 100%;
  }
  .descr_section .descr_cont .description_title {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 3px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .descr_section .add_cont .product_price {
    font-size: 20px;
    letter-spacing: 2.8px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 13px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont .button_add {
    width: 70%;
    font-size: 18px;
    letter-spacing: 2.2px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .product_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
  }
  .clothes {
    width: 50%;
  }
  .descr_section {
    width: 50%;
    margin-left: 20px;
  }
  .descr_section .descr_cont .description_title {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 15px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont .product_price {
    font-size: 20px;
    letter-spacing: 2.8px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 16px;
    letter-spacing: 2.2px;
  }
  .descr_section .add_cont .button_add {
    width: 60%;
    font-size: 20px;
    letter-spacing: 2.2px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .product_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
  }
  .descr_section {
    width: 50%;
    margin-left: 20px;
  }
  .descr_section .descr_cont .description_title {
    font-size: 24px;
    letter-spacing: 3.2px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .product_price {
    font-size: 24px;
    letter-spacing: 3px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 18px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .button_add {
    width: 50%;
    font-size: 24px;
    letter-spacing: 2.4px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .product_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
  }
  .descr_section {
    width: 50%;
    margin-left: 40px;
  }
  .descr_section .descr_cont .description_title {
    font-size: 26px;
    letter-spacing: 3.2px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .product_price {
    font-size: 26px;
    letter-spacing: 3px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 18px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .button_add {
    width: 50%;
    font-size: 26px;
    letter-spacing: 2.4px;
  }
}
@media only screen and (min-width: 1200px) {
  .product_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
  }
  .descr_section {
    width: 50%;
  }
  .descr_section .descr_cont .description_title {
    font-size: 26px;
    letter-spacing: 3.2px;
  }
  .descr_section .descr_cont .description_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .descr_cont .features_text {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .product_price {
    font-size: 29px;
    letter-spacing: 3px;
  }
  .descr_section .add_cont .product_cu {
    font-size: 20px;
    letter-spacing: 2.4px;
  }
  .descr_section .add_cont .button_add {
    width: 50%;
    font-size: 20px;
    letter-spacing: 2.4px;
  }
}
.product_cont {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.path {
  margin-bottom: 30px;
  color: #7E7E7E;
  text-decoration: underline;
  font-size: 20px;
  letter-spacing: 2px;
}

.product_card {
  background-color: #F5E7DF;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.clothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.clothes .clothes_header {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2.4px;
  font-weight: 400;
  line-height: 35px;
}
.clothes .clothes_size .button_size {
  padding: 5px 13px;
  background-color: rgba(251, 206, 177, 0.5);
}

.descr_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.descr_section .descr_cont .description_title {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 35px;
}
.descr_section .descr_cont .description_text {
  text-transform: uppercase;
  color: gray;
  font-weight: 400;
  line-height: 35px;
}
.descr_section .descr_cont .features {
  padding-left: 20px;
}
.descr_section .descr_cont .features .features_text {
  text-transform: uppercase;
  color: gray;
  font-weight: 400;
  margin-bottom: 10px;
}
.descr_section .add_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 28%;
}
.descr_section .add_cont .product_price {
  font-weight: 400;
  line-height: 35px;
}
.descr_section .add_cont .product_price .product_cu {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}
.descr_section .add_cont .button_add {
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
}
