
@media only screen and (min-width: 320px) and (max-width: 599px) {
    .product_cont {
        width: 80%;
    }

    .product_cart {
        display: block;
        margin: 0 auto;
    }

    .product_card {
        padding: 20px;
    }



    .descr_section {
        width: 100%;

        //Размеры шрифтов

        .descr_cont {
            .description_title {
                margin-top: 10px;
                font-size: 18px;
                letter-spacing: 3px;
            }

            .description_text {
                font-size: 15px;
                letter-spacing: 2.2px;
            }

            .features_text {
                font-size: 15px;
                letter-spacing: 2.2px;
            }
        }

        .add_cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .product_price {
                font-size: 20px;
                letter-spacing: 2.8px;
            }

            .product_cu {
                font-size: 13px;
                letter-spacing: 2.2px;
            }

            .button_add {
                width: 70%;
                font-size: 18px;
                letter-spacing: 2.2px;
            }
        }

    }

}


@media only screen and (min-width: 600px) and (max-width: 768px) {
    .product_cont {
        width: 80%;
    }

    .product_card {
        display: flex;
        padding: 20px;
    }

    .clothes {
        width: 50%;
        //        background-color: red;
        //        padding:10px;
    }

    .descr_section {
        width: 50%;
        margin-left: 20px;

        //Размеры шрифтов
        .descr_cont {
            .description_title {
                font-size: 20px;
                letter-spacing: 3px;
            }

            .description_text {
                font-size: 15px;
                letter-spacing: 2.2px;
            }

            .features_text {
                font-size: 15px;
                letter-spacing: 2.2px;
            }
        }


        .add_cont {
            .product_price {
                font-size: 20px;
                letter-spacing: 2.8px;
            }

            .product_cu {
                font-size: 16px;
                letter-spacing: 2.2px;
            }

            .button_add {
                width: 60%;
                font-size: 20px;
                letter-spacing: 2.2px;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 815px) {
    .product_cont {
        width: 80%;
    }

    .product_card {
        display: flex;
        padding: 20px;
    }

    .descr_section {
        width: 50%;
        margin-left: 20px;

        //Размеры шрифтов
        .descr_cont {
            .description_title {
                font-size: 20px;
                letter-spacing: 3px;
            }

            .description_text {
                font-size: 15px;
                letter-spacing: 2.2px;
            }

            .features_text {
                font-size: 15px;
                letter-spacing: 2.2px;
            }
        }


        .add_cont {
            .product_price {
                font-size: 20px;
                letter-spacing: 2.8px;
            }

            .product_cu {
                font-size: 16px;
                letter-spacing: 2.2px;
            }

            .button_add {
                width: 60%;
                font-size: 20px;
                letter-spacing: 2.2px;
            }
        }

    }
}
@media only screen and (min-width: 816px) and (max-width: 1024px) {
    .product_cont {
        width: 80%;
    }

    .product_card {
        display: flex;
        padding: 20px;
    }

    .descr_section {
        width: 50%;
        margin-left: 20px;

        //Размеры шрифтов
        .descr_cont {
            .description_title {
                font-size: 24px;
                letter-spacing: 3.2px;
            }

            .description_text {
                font-size: 20px;
                letter-spacing: 2.4px;
            }

            .features_text {
                font-size: 20px;
                letter-spacing: 2.4px;
            }
        }


        .add_cont {
            .product_price {
                font-size: 24px;
                letter-spacing: 3px;
            }

            .product_cu {
                font-size: 18px;
                letter-spacing: 2.4px;
            }

            .button_add {
                width: 55%;
                font-size: 24px;
                letter-spacing: 2.4px;
            }
        }

    }
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .product_cont {
        width: 70%;
    }

    .product_card {
        display: flex;
        padding: 40px;
    }

    .descr_section {
        width: 50%;
        margin-left: 40px;

        .descr_cont {
            .description_title {
                font-size: 26px;
                letter-spacing: 3.2px;
            }

            .description_text {
                font-size: 20px;
                letter-spacing: 2.4px;
            }

            .features_text {
                font-size: 20px;
                letter-spacing: 2.4px;
            }
        }


        .add_cont {
            .product_price {
                font-size: 26px;
                letter-spacing: 3px;
            }

            .product_cu {
                font-size: 18px;
                letter-spacing: 2.4px;
            }

            .button_add {
                width: 55%;
                font-size: 26px;
                letter-spacing: 2.4px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .product_cont {
        width: 70%;
    }

    .product_card {
        display: flex;
        padding: 40px;
    }

    .descr_section {
        width: 50%;

        .descr_cont {
            .description_title {
                font-size: 26px;
                letter-spacing: 3.2px;
            }

            .description_text {
                font-size: 20px;
                letter-spacing: 2.4px;
            }

            .features_text {
                font-size: 20px;
                letter-spacing: 2.4px;
            }
        }


        .add_cont {
            .product_price {
                font-size: 29px;
                letter-spacing: 3px;
            }

            .product_cu {
                font-size: 20px;
                letter-spacing: 2.4px;
            }

            .button_add {
                width: 50%;
                font-size: 20px;
                letter-spacing: 2.4px;
            }
        }

    }
}

.product_cont {
    //width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.path {
    margin-bottom: 30px;
    color: #7E7E7E;

    font-size: 20px;
    letter-spacing: 2px;

    .path_link {
        text-decoration: underline;
    }
}

.product_card {
    background-color: #F5E7DF;
    justify-content: space-around;
}

.clothes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .clothes_header {
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2.4px;

        font-weight: 400;
        line-height: 35px;
    }

    .clothes_size {

        .button_size {
            padding: 5px 13px;
            background-color: rgba(251, 206, 177, 0.50);
        }

    }
}

.descr_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .descr_cont {

        .description_title {
            text-transform: uppercase;
            font-weight: 400;
            line-height: 35px;
        }

        .description_text {
            text-transform: uppercase;
            color: gray;
            font-weight: 400;
            line-height: 35px;
        }

        .features {
            padding-left: 20px;

            .features_text {
                text-transform: uppercase;
                color: gray;
                font-weight: 400;
                margin-bottom: 10px;
            }
        }
    }

    .add_cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 28%;


        .product_price {
            font-weight: 400;
            line-height: 35px;

            .product_cu {
                text-transform: uppercase;
                font-weight: 400;
                margin-bottom: 10px;
            }
        }

        .button_add {
            text-transform: uppercase;
            font-weight: 400;
            padding: 10px;
        }

    }
}
