@charset "UTF-8";
.reg_banner_section {
  margin-bottom: 50px;
}

.link_back {
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  top: 10px; /* Отступ от верхнего края */
  right: 10px; /* Отступ от правого края */
}

.close_img {
  width: 30px;
}
