.card {
  width: 484px;
  height: 645px;
  background-color: 0x4DFBCEB1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.card p {
  font-size: 16px;
  margin-bottom: 20px;
}
.card .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.card .buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.card .buttons button.add-to-cart {
  background-color: #fff;
  color: #000;
}
.card .buttons button.description {
  background-color: #000;
  color: #fff;
}