@import "https://fonts.googleapis.com/css2?family=Oswald&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Oswald', sans-serif;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.cart-page {
    //align-self: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: auto;
    width: 50%;

    .banner{
        letter-spacing: 3px;
        font-size: 30px;
        padding-left: 73px;
        padding-bottom: 35px;
        text-transform: uppercase;
    }

}


hr.solid {
    border-top: 2px solid #D9D9D9;
}

.cover {
    margin-bottom: 30px;
}
