// @import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', sans-serif;
    font-Weight: default FontWeight(400);
    color: FF000000;
    //letterSpacing: 2.5.sp;
}

img {
    max-width: 100%;
    height: auto;
  }

.main-page{
    //background-color: red;
    padding: 187px 100px;
}

hr.solid {
    border-top: 2px solid #D9D9D9;
}