
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Oswald', sans-serif;
    font-Weight: default FontWeight(400);
    color: #000;
    background-color: #F2F2F2;
}


img {
    max-width: 100%;
    height: auto;
}


.main-page {
    align-self: center;
    padding: 100px 100px;
}



hr.solid {
    border-top: 2px solid #D9D9D9;
}

.cover {
    margin-bottom: 30px;
}

button {
    cursor: pointer;

}
